.inputWrap {
  padding: 4px;
.textarea{
  background: gray;
  max-width: 300px;
  height: 100px;
}

  input {
    width: 200px;
    height: 30px;
    border : 1px solid greenyellow;
  }

  .errorMessage{
    color: red;
  }
}

.errorWrap{
  input{
    border : 1px solid red !important
  }
}