.userInfoWrap {
  form{
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
}

.singleUserWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .singleForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .childrenButton{
    display: flex;
  }
}

.form {
  div{
    padding: 3px;
  }
}

.button{
  display: flex;
}
