.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  padding: 20px;

  img{
    cursor: pointer;
  }
  a{
    background-color: rgba(250,250,250,0.5);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    &:hover{
      background-color: rgba(250,250,250,0.4);
    }
  }
}